.ex__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
}

.exs__line:last-child {
    height: 1px;
    display: none;
}
