.modal {
  background: white;
  padding: 20px;
  border-radius: 16px;
  width: 90%;
  max-width: 360px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.title {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.input {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 12px;
  font-size: 16px;
}

.saveButton {
  background: #007aff;
  color: white;
  padding: 12px;
  font-size: 16px;
  border-radius: 30px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
