.profile__container {
  background-color: var(--white);
  /* display: flex;
  flex-direction: column; */
  /* gap: 40px; */
}

.profile__header {
  height: 128px;
  padding: 18px;
  background-color: var(--grey);
}

.profile__main {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;

  background: var(--light-grey);
  padding: 0 16px;
  border-radius: 0 0 28px 28px;
}

.profile__other { 
  display: flex;
  flex-direction: column;
}

.profile__naming {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
  width: 100%;
}

.profile__naming span {
  margin: 0;
  word-break: break-word;
  white-space: normal;
}

.profile__nickname {
  color: var(--dark-blue);
}
 
.profile__avatar {
  position: relative;
  bottom: 30px;
  border-radius: 50%;
}