.select__container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.select__element {
    padding: 10px 8px;
    font-size: 16px;
    color: grey;
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
}

.select__label {
    font-family: "Montserrat";
    font-size: 12px;
    font-weight: 700;
}

.program__textarea {
    padding: 10px 8px;
    font-size: 16px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
    color: var(--black);
}

.program__textarea::placeholder {
    color: gray;

}

.form__delete_button {
    background: none;
    border: none;
    color: var(--red);
    text-decoration: underline;
}

.day-edit__form{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.day-edit__buttons{
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-right: 16px;
}

.inputs__container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}